<html lang='en'>
<head>
  <title>🇦🇱 News Classifier</title>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>🇦🇱 Albanian 🇦🇱 Language News Classifier</div>
    <p>
      You can classify news articles from our supported categories:<br><strong>Sport, Teknologji, Politike, Ekonomi, Shqiperi, Sociale, Show Biz, Bota, Finance, Kosova, Kulture, Rajoni</strong>
    </p>
    <div class='content'>
      <textarea id="text-input" name="article" rows="8"></textarea>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>